{% if page.header %}
  <header role="banner" id="header">
      <div class="site-header medium-12 columns">
        <nav class="hide-for-small-only hide-for-ipad">
          {% include socials.html %}
        </nav>
        <a href="/">
          <div class="header-logo wraptainer serif">
            <h1>sian hardy</h1>
            <h2>visual artist</h2>
          </div>
        </a>
        <nav class="hide-for-small-only hide-for-ipad">
          {% include navigation.html %}
        </nav>
      </div>
  </header>
  
  {% elsif site.header %}
    <header role="banner" id="header" class="small-12 medium-3 columns">
      <div class="site-header medium-12 columns">
        <nav class="hide-for-small-only hide-for-ipad">
          {% include socials.html %}
        </nav>
        <a href="/">
          <div class="header-logo wraptainer serif">
            <h1>sian hardy</h1>
            <h2>visual artist</h2>
          </div>
        </a>
        <nav class="hide-for-small-only hide-for-ipad">
          {% include navigation.html %}
        </nav>
      </div>
    </header>
  
  {% else %}

{% endif %}
