body {
    background-color: $body-bg !important;
}

// Wrap
.wrap {
//    height:unquote("calc( 100vh - #{$navbar-height} )");
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
  }

.wraptainer {
   margin-top: $header-margin;   
}

// Header
#header {
    padding: 0.9375rem 0;
    background-color: $header-color;
    z-index: 5;
}

ul > .header-nav > a {
    color: $header-link-color;
}

ul > .header-nav > a:hover {
    color: $header-link-hover-color 
}

ul > .header-nav > a:visited {
    color: $header-link-color;
}

.site-header .menu .active > a {
    background-color: $header-active-link-color;
    color: $header-link-color;
}

.social-container {
    margin: 0;
    list-style-type: none;
    padding-top: 10px;
}

// Containers
.content_container {
    flex: 1;
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.biopic {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
    border-radius: 200px;
    padding-left: 1em;
}

.bio {
    padding-top: 2em;
}

.recent-posts {
    font-size: 0.8rem;
}

// Pages
.page-content {
    padding: 0 1.2rem 1.2rem 1.2rem;
}

.page-heading {
    font-size: 20px;
}

.sidebar {
    order: 2;
    background-color: $sidebar-color;
}

.sidebar h2 {
    text-transform: uppercase;
}

.sidebar ul li {
    padding: 0 0 1rem 0;   
}


.roll {
    margin-bottom: 2.5rem;
}


// Posts

.post-title {
    font-size: 2em;
    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
  margin: 0 30px 30px 30px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: darken($complimentary-color, 35%);
    margin-bottom: -1rem;
}

.post-link {
    display: block;
    font-size: 24px;
    line-height: 1.2rem;
}

.header-logo {
    color: $complimentary-color;
    text-align: end;
}

.header-logo > h1 {
    font-size: 2em;
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: 200;
}

.header-logo > h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 200;
}

.serif {
    font-family: $navbar-font-family !important;
}

.post-content h1 {
    font-size: 2em;
    font-family: $navbar-font-family;
}
.post-content h2 {
    font-size: 1.5em;
    font-family: $navbar-font-family;
}
.post-content h3 {
    font-size: 1.17em;
    font-family: $navbar-font-family;
}
.post-content h4 {
    font-size: 1em;
    font-family: $navbar-font-family;
}
.post-content h5 {
    font-size: 0.83em;
    font-family: $navbar-font-family;
}
.post-content h6 {
    font-size: 0.67em;
    font-family: $navbar-font-family;
}

.paired-content td {
    padding: 5px 0 5px 0;
}
.paired-content tr td:nth-child(1) {
    font-family: $navbar-font-family;
    padding-right: 16px;
}

.gallery-item {
    display: none;
}

#artwork-detail-image {
    width: 100%;
}

#artwork-detail-image img {
    max-width: 100%;
    max-height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}