// Base Colors
$primary-color: #FFFEF1;
$secondary-color: #aaa;
$complimentary-color: #000;
$body-bg: $primary-color;
$body-font-color: #333;

// Links
$link-color: $primary-color;
$link-hover-color: lighten($link-color, 15%);
$link-visited-color: lighten($link-color, 25%);

@font-face {
    font-family: "Free Serif";
    src: url("/fonts/FreeSerif.otf");
}

// Text
$base-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$base-font-size: 1.0em;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

// Header Settings
$header-color: $primary-color;
$header-link-color: $complimentary-color;
$header-link-hover-color: $complimentary-color;
$header-link-visted-color: $link-color;
$header-active-link-color: $primary-color;

// Sidebar Settings
$sidebar-color: lighten($primary-color, 55%);

// Topbar Navbar Settings
$navbar-height: 45px;

// Mobile Navbar Settings
$navbar-color: lighten($primary-color, 25%);
$navbar-text-color: $secondary-color;
$navbar-hover-color: $complimentary-color;
$navbar-active-color: lighten($primary-color, 45%);
$navbar-font-size: 13px;
$navbar-font-family: "Source Serif 4", "Roboto Serif", "Free Serif", serif;
$hamburger-icon-color: $complimentary-color;


// Socials Navbar Settings
$socials-font-color: $complimentary-color;
$socials-font-size: 1.5em;

// Gallery Lightbox Pop-Up
$lightbox-background-color: rgba(0, 0, 0, 0.95);
$lightbox-border-color: $complimentary-color;
$lightbox-description-background-color: rgba(254, 254, 254, 0.8);
$lightbox-description-text-color: black;
$lightbox-caption-text-color: $complimentary-color;
$lightbox-navigation-color: $complimentary-color;


// Utility
$spacing-unit: 30px;

// Layout Settings
$header-margin: 2rem;

// Buttons
$button-color: #313131;
$button-hover: #929292;
$button-text-color: #fff;
