---
layout: base
---
<div class="gallery fullscreen-gallery kenburns-gallery">
    <canvas id="kenburns"></canvas>
{% for gallery in site.galleries %} {% if gallery.name == page.title %} {% for art in gallery.arts %}
    <figure class="gallery-item">
        <header class='gallery-icon'>
            <a href="{{ site.github.url }}/{{gallery.name}}/{{art.identifier}}">
                <img src="{{ site.github.url }}/{{ art.image }}" alt="{{ art.title }}">
            </a>
        </header>
    </figure>
{% endfor %} {% endif %} {% endfor %}
</div>

<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="/scripts/jquery.mousewheel.min.js"></script>
<script src="/scripts/jquery.cycle.min.js"></script>
<script src="/scripts/kenburns.min.js"></script>
<script src="/scripts/jquery.lazylinepainter.min.js"></script>
<script src="/scripts/scripts.js"></script>